


@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <title>Cotizaciones</title>
</head>



<body>
    <form method="post" >
        <fieldset>
            <legend>Formulario de Cotizaciones SACSU</legend>
            <p>Datos Personales: </p>
            <div>
                <label for="Nombre">Nombre:</label>
            </div>
            <div>
                <input type="text" name="Nombre"  />
                @Html.ValidationMessage("Nombre")
            </div>
            <div>
                <label for="Paterno">Apellido Paterno:</label>
            </div>
            <div>
                <input type="text" name="Paterno"  />
                @Html.ValidationMessage("Paterno")
            </div>
            <div>
                <label for="Materno">Apellido Materno: </label>
            </div>
            <div>
                <input type="text" name="Materno"  />
                @Html.ValidationMessage("Materno")
            </div>
            <div>
                <label for="Rut">RUT: </label>
            </div>
            <div>
                <input type="text" name="RUT:" value="" />
                @Html.ValidationMessage("RUT")
            </div>
            <div>
                <label for="NombreCotizacion">Nombre de la Cotizacion: </label>
            </div>
            <div>
                <input type="text" name="NombreCotizacion" value="" />
                @Html.ValidationMessage("NombreCotizacion")
            </div>
            <div>
                <label for="Descripcion">Descripcion: </label>
            </div>
            <div>
                <input type="text" name="Descripcion" style="width: 300px" style="height: 300px" />
                @Html.ValidationMessage("Descripcion")
            </div>
            <div>
            <label>&nbsp;</label>
            <input type="submit" value="Submit" class="submit" />
          </div>
        </fieldset>
      </form>
    </body>
</html>